<p id="notice"><%= notice %></p>

<h1>Socks</h1>

<table>
  <thead>
    <tr>
      <th>Model</th>
      <th>Description</th>
      <th>Title</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @socks.each do |sock| %>
      <tr>
        <td><%= sock.model %></td>
        <td><%= sock.description %></td>
        <td><%= sock.title %></td>
        <td><%= sock.price %></td>
        <td><%= link_to 'Show', sock %></td>
        <td><%= link_to 'Edit', edit_sock_path(sock) %></td>
        <td><%= link_to 'Destroy', sock, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sock', new_sock_path %>
